[submodule "web/app/plugins/mf-containers"]
	path = web/app/plugins/mf-containers
	url = https://github.com/mfinell/mf-containers.git
[submodule "web/app/plugins/mf-layouts"]
	path = web/app/plugins/mf-layouts
	url = https://github.com/mfinell/mf-layouts.git
[submodule "web/app/themes/mofi"]
	path = web/app/themes/mofi
	url = https://github.com/mfinell/mofi.git
[submodule "web/app/themes/celia"]
	path = web/app/themes/celia
	url = git@github.com:mfinell/celia.git
